h1 {
  font-size: 30px;
  color: #00cc66;
  padding-bottom: 5px;
}

body {
  background-color: black;
}

.youtubeform {
  /*margin: left !important;*/
  /*margin: right !important;*/
  /*margin-left: 40%;*/
  display: inline-block;
  margin-right: 30px;
}
#title {
  margin-top: 45px;
  color: white;
  background-color: black;
  font-family: 'raleway';
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

#settingsTitle {
  margin-top: 45px;
/*  margin-bottom: 150px;*/
  color: white;
  background-color: black;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

#titleBar {
  background: black;
/*  height: 200px;*/
}

#content {
  height: 50;
  background-color: #1a1a1a;
}

.spotify {
  margin-left: 35%;
}

#highScore {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: arial;
  text-transform: uppercase;
}

#modals {
/*  opacity: .8;*/
}

#scoresList {
  background-color: lightgrey;
}

#items {
  border-radius: 5px;
  border-style: solid;
  font-size: 25px;
  font-weight: 900;
  font-family: 'arial';
  color: black;
  background-color: lightgrey;
  height: 52px;
}

#items:hover {
  color: #0040ff;
}

#score {
  text-align: right;
  margin-right: 25px;
  font-size: 25px;
}

#userImage {
  margin-right: 25px;
}

.loginText, .signUpText {
  margin-left: 109px;
  color: lightgrey;
}

.loginFooter {
  color: lightgrey;
}

.loginBtn, .signUpBtn {
  border-radius: 96px !important;
  width: 100% !important;
  background-color: #4d94ff;
}

.loginBtn:hover, .signUpBtn:hover{
  background-color: #00cc66;
}

.playerMode {
  margin-top: 150px;
}

.playerChoiceBtn, .levelChoiceBtn {
  font-size: 20px;
  border-style: solid;
}

.playerChoiceBtn:hover, .levelChoiceBtn:hover {
  background-color: #4d94ff;
}

#profileImage {
  width: 320px;
  height: 320px;
}

#profileStats {
  height: 412px;
}


.levels {
  /*background-color: lightgrey;*/
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.scores:hover {
  background-color: #b3b3b3;
}

#profileLevelScores {
  text-align: left;
}

#profileTopScores {
  text-align: right;
}

.scores {
  text-align: right;
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 15px;
}

.modal-body {
  height: 200px;
  overflow-y: auto;
  background-color: lightgrey;
}

#modPic {
  height: 160px;
}

#lvl {
  padding-top: 25px;
  height: 160px;
}

#scr {
  height: 160px;
}

.levels {
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.levels:hover {
  background-color: #b3b3b3;
}

#profileLevelScores {
  text-align: left;
}

#profileTopScores {
  text-align: right;
}

.scores {
  text-align: right;
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 15px;
}

.modal-body {
  height: 200px;
  overflow-y: auto;
  background-color: lightgrey;
}

#modPic {
/*  background-color: green;*/
  height: 160px;
}

#lvl {
  padding-top: 25px;
/*  background-color: blue;*/
  height: 160px;
}

#scr {
/*  background-color: red;*/
  height: 160px;
}

#profileDisplayName {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}

#profTopScore {
  margin-left: 570px;
  font-weight: 800;
  text-transform: uppercase;
}

#profLevelScore {
  font-weight: 800;
  text-transform: uppercase;
}

#profileRank {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

#profileRankMarkers {
  font-size: 20px;
  color: blue;
}

.profileScores {
  float: right;
  margin-right: 18px;
}
/*  background-color: red;*/
  height: 160px;
}

#profileBtns {
  margin-left: 25%;
}

#imageHolder {
  height: 410px;
}




