@import url(https://fonts.googleapis.com/css?family=Iceland);

.image-upload > input
{
    display: none;
}


#imageMssg {
    visibility: hidden;
    height:3px;
    margin-left:10px;
}

#profile-pic:hover + #imageMssg {
    visibility: visible;
    text-align: center;
}​


h1 {
  font-size: 30px;
  color: #00cc66;
  padding-bottom: 5px;
}

html {
  cursor: url('pics/cursorBlue.png'), auto !important;
  /*background-image: url("pics/test.gif");*/

}
body {
  background-color: black;
  background-image: url("https://www.pexels.com/photo/sky-space-milky-way-stars-110854/");
  cursor: url('pics/cursorBlue.png'), auto !important;
  background-image: url("pics/background.gif");
  background-size: cover;
}
.logo{
  margin: auto !important;
  vertical-align: middle;

}
.youtubeform {
  /*margin: left !important;*/
  /*margin: right !important;*/
  /*margin-left: 40%;*/
  display: inline-block;
  margin-right: 30px;
}

#title {
  margin-top: 45px;
  color: white;
  background-color: black;
  font-family: 'raleway';
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

#settingsTitle {
  margin-top: 45px;
/*  margin-bottom: 150px;*/
  color: white;
  background-color: black;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

#titleBar {
  background: black;
/*  height: 200px;*/
}

#content {
  height: 50;
  background-color: #1a1a1a;
}

.spotify {
  margin-left: 35%;
}

#highScore {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: arial;
  text-transform: uppercase;
}

#modals {
/*  opacity: .8;*/
}

#scoresList {
  background-color: lightgrey;
}

#items {
  border-radius: 5px;
  border-style: solid;
  font-size: 25px;
  font-weight: 900;
  font-family: 'arial';
  color: black;
  background-color: lightgrey;
  height: 52px;
}

#items:hover {
  color: #0040ff;
}

#score {
  text-align: right;
  margin-right: 25px;
  font-size: 25px;
}

#userImage {
  margin-right: 25px;
}

.loginText, .signUpText {
  margin-left: 109px;
  color: lightgrey;
}

.loginFooter {
  color: lightgrey;
}

.loginBtn, .signUpBtn {
  border-radius: 96px !important;
  width: 100% !important;
  background-color: #4d94ff;
}

.loginBtn:hover, .signUpBtn:hover{
  background-color: #00cc66;
}
#controlled-tab-example-tab-1{
  cursor: url('pics/cursorPink.png'), auto !important;
}
#controlled-tab-example-tab-2{
  cursor: url('pics/cursorPink.png'), auto !important;
}

.playerMode {
  margin-top: 150px;
}

.playerChoiceBtn, .levelChoiceBtn {
  font-size: 20px;
  border-style: solid;
  cursor: url('pics/cursorPink.png'), auto !important;
}

.playerChoiceBtn:hover, .levelChoiceBtn:hover {
  background-color: #4d94ff;
}

#profileImage {
  width: 320px;
  height: 320px;
}

#profileStats {
  height: 412px;
}

.levels {
  /*background-color: lightgrey;*/
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.scores:hover {
  background-color: #b3b3b3;
}

#profileLevelScores {
  text-align: left;
}

#profileTopScores {
  text-align: right;
}

.scores {
  text-align: right;
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 15px;
}

.modal-body {
  height: 200px;
  overflow-y: auto;
  background-color: lightgrey;
}

#modPic {
  height: 160px;
}

#lvl {
  padding-top: 25px;
  height: 160px;
}

#scr {
  height: 160px;
}


.levels {
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.levels:hover {
  background-color: #b3b3b3;
}

#profileLevelScores {
  text-align: left;
}

#profileTopScores {
  text-align: right;
}

.scores {
  text-align: right;
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 15px;
}

.modal-body {
  height: 200px;
  overflow-y: auto;
  background-color: lightgrey;
}

#modPic {
/*  background-color: green;*/
  height: 160px;
}

#lvl {
  padding-top: 25px;
/*  background-color: blue;*/
  height: 160px;
}

#scr {
/*  background-color: red;*/
  height: 160px;
}

#profileDisplayName {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}

#profTopScore {
  margin-left: 570px;
  font-weight: 800;
  text-transform: uppercase;
}

#profLevelScore {
  font-weight: 800;
  text-transform: uppercase;
}

#profileRank {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

#profileRankMarkers {
  font-size: 20px;
  color: blue;
}

.profileScores {
  float: right;
  margin-right: 18px;
}


#profileBtns {
  margin-left: 25%;
}

#imageHolder {
  height: 410px;
}

.profileImageUpload {
  color: white;
  margin-bottom: 10px;
}

#uploadImageBtn {
  display: inline-block;
  color: white;
}


.example-leave {

  transform: translate3d(0, 0, 0);
}

.example-leave.example-leave-active {

  transform: translate3d(-150%, 0, 0);
  transition: all ease-out 500ms;
}

.example-enter {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(80%, 0, 0);
}

.example-enter.example-enter-active {
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  transform: translate3d(13%, 0, 0);
  transition: all ease-out 600ms;

}


/*           Jey's Styling            */

.singlePlayerGame {
  background-image: url("https://www.pexels.com/photo/sky-space-milky-way-stars-110854/");
}






