@import url(https://fonts.googleapis.com/css?family=Iceland);

.image-upload > input {
    display: none;
}


#imageMssg {
    visibility: hidden;
    height:3px;
    margin-left:10px;
}

#profile-pic:hover + #imageMssg {
    visibility: visible;
    text-align: center;
}


h1 {
  font-size: 30px;
  color: #00cc66;
  padding-bottom: 5px;
}

h2{
  margin-left: 18px;
  margin-top: 0px;
  font-size: 30px;
  font-family: Iceland;
  color: black;
}

h3 {
  font-family: Iceland;
  color: white;
  font-size: 50px;
  text-align: center;
}

h4 {
  font-family: Iceland;
  color: white;
  font-size: 35px;
  text-align: center;
}
h5 {
  font-family: Iceland;
  color: white;
  font-size: 30px;
  text-align: center;
}
h6{
  font-family: Iceland;
  color: white;
  font-size: 30px;
  text-align: right;
}
h7 {
  font-family: Iceland;
  color: white;
  font-size: 30px;
  text-align: left;
}
html {
  cursor: url('pics/cursorBlue.png'), auto !important;
  /*background-image: url("pics/test.gif");*/
}

body {
  background-image: url("https://www.pexels.com/photo/sky-space-milky-way-stars-110854/");
  cursor: url('pics/cursorBlue.png'), auto !important;
  background-image: url("pics/background.gif");
  background-size: cover;
}

.uploadButton {
  cursor: url('pics/cursorPink.png'), auto !important;
  background-color: white;
  height: 90px;
  width: 400px;
  float:right;
  display: inline-block none;
  padding: 90px 0 0 0;
  box-sizing: border-box;
}

.settingInputTextContainer {
  height: 100px;
  width: 450px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 5px;
}

.logo{
  margin: auto !important;
  vertical-align: middle;
}

.imgContainer {
  margin-top: 50px;
  margin-left: 100px;
}


.imgContainerMulti {
  margin-top: 20px;
  margin-left: 50px;
}

.youtubeform {
  /*margin: left !important;*/
  /*margin: right !important;*/
  /*margin-left: 40%;*/
  display: inline-block;
  margin-right: 30px;
}

#title {
  margin-top: 45px;
  color: white;
  background-color: black;
  font-family: 'raleway';
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

#settingsTitle {
  margin-top: 45px;
/*  margin-bottom: 150px;*/
  color: white;
  background-color: black;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

#titleBar {
  background: black;
/*  height: 200px;*/
}

#content {
  height: 50;
  background-color: #1a1a1a;
}

.spotify {
  margin-left: 35%;
}

#highScore {
  font-family: Iceland;
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: arial;
  text-transform: uppercase;
}

#modals {
  font-family: Iceland;
  font-size: 18px;
  font-weight: 800;
}

.modal-header, .modal-body {
  background-color: #1a1a1a;
}

#modalTitle {
  color: blue;
  font-size: 40px;
  text-align: center;
}

#modalTitleUserName {
  color: white;
  font-size: 40px;
  font-weight: 900;
  float: left;
  margin-left: 60px;

}

.scoreIndexContainer {
  height: 70px;
  width: 40px;
  display: inline-block;
  margin-top: 3px;
}

.scoreImageContainer {
  height: 70px;
  width: 130px;
  display: inline-block;
}

.scoreDisplayContainer {
  height: 70px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.scoreScoreContainer {
  height: 70px;
  width: 410px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 10px;
}

#scoresList {
  font-family: Iceland;
  background-color: lightgrey;
  height: 70px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}


.items {
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  font-size: 25px;
  font-family: Iceland;
  background-color: black;
  height: 80px;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}

.items:hover {
  background-color: lightblue;
}


#score {
  font-family: Iceland;
  text-align: right;
  margin-right: 25px;
  font-size: 25px;
}

.userImage {
  height: 59px;
  width: 80px;
  margin-bottom: 3px;
  margin-left: 25px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 2px;
}

.loginText, .signUpText {
  margin-left: 109px;
  color: lightgrey;
}

.loginFooter {
  color: lightgrey;
}

.loginBtn, .signUpBtn {
  border-radius: 96px !important;
  width: 100% !important;
  background-color: #4d94ff;
}

.loginBtn:hover, .signUpBtn:hover{
  background-color: #00cc66;
}
#controlled-tab-example-tab-1{
  cursor: url('pics/cursorPink.png'), auto !important;
}
#controlled-tab-example-tab-2{
  cursor: url('pics/cursorPink.png'), auto !important;
}

.playerMode {
  margin-top: 150px;
}

.hiscoreContainer {
  margin: auto;
  height: 600px;
  width: 900px;
  overflow: scroll;
}

.endChoiceBtn {
  height: 100px;
  width: 300px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}

.endChoiceBtn:hover {
  background-color: lightblue;
}
.logoutChoiceBtn {
  height: 100px;
  width: 300px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
  float: right;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}

.logoutChoiceBtn:hover {
  background-color: lightblue;
}
.endingContainer {
  margin: auto;
  height: 100px;
  width: 900px;
}

.scoreContainer {
  margin: auto;
  height: 600px;
  width: 900px;
  overflow: scroll;
}

.levelChoiceBtn {
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  height: 100px;
  cursor: url('pics/cursorPink.png'), auto !important;
}

.startChoiceBtn {
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  height: 100px;
  width: 300px;
  margin: auto;
  cursor: url('pics/cursorPink.png'), auto !important;
  -moz-box-shadow: 0px 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}

.startChoiceBtn:hover {
  background-color: lightblue;
}

.entryContainer {
  cursor: url('pics/cursorPink.png'), auto !important;
  border-style: double;
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
  height: 170px;
  background-color: black;
  margin-bottom: 7px;
  -moz-box-shadow: 0px 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}

.entryContainer:hover > .libTitleBar {
  background-color: lightblue;
}


.media-object {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  /*margin-top: 3px;*/
  height: 125px;
  width: 200px;
  margin:auto;
}

.libTitleBar {
  border-radius: 5px;
  background-color: white;
  height: 40px;
}


.imageContainer {
  width: 250px;
  height: 120px;
  display: inline-block;
  vertical-align:top;
}

.artistsContainer {
  width: 400px;
  height: 120px;
  display: inline-block;
  vertical-align:top;
}

.bpmContainer {
  width: 230px;
  height: 120px;
  display: inline-block;
  vertical-align:top;
}

.search-container {
  height: 70px;
}

.searchSpot {
  height: 60px;
  width: 550px;
  display: inline-block;
  vertical-align: top;
}

.searchYoutube {
  height: 60px;
  width: 340px;
  display: inline-block;
  vertical-align: top;

}

#test {
  margin-top: 5px;
}

.dlLinkContainer {
  height: 60px;
  width: 180px;
  display:inline-block;
  vertical-align: top;
}

.iframeContainer {
  height: 60px;
  width: 150px;
  margin-right: 10px;
  display:inline-block;
  vertical-align: top;

}
.searchQuery {
  margin-left: 10px;
  padding-top: 5px;
  font-family: Iceland;
  font-size: 30px;
  height: 50px;
  width: 120px;
}

.inputQuery {
  font-family: Iceland;
  font-size: 30px;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-top: 3px;
}

.spotifySearchTitle {
  width: 200px;
  height: 60px;
  display: inline-block;
}
.spotifySearch {
  height:70px;
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
}

.MusicTrack {
  height: 430px;
  overflow: scroll;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
}

.MusicTrackLib {
  height: 500px;
  overflow: scroll;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
}

.musicSearchBarContainer {
  height: 100px;
  width: 900px;
}

.libraryTab {
  /*margin-left: 10px;*/
  cursor: url('pics/cursorPink.png'), auto !important;
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  width: 450px;
  height: 100px;
  display: inline-block;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
}

.searchTab {
  /*margin-right: 10px;*/
  /*margin-left: px;*/
  cursor: url('pics/cursorPink.png'), auto !important;
  float: right; 

  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  width: 450px;
  height: 100px;
  display: inline-block;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
}

.musicBack {
  height: 100px;
  width: 200px;
  display: inline-block;
}

.musicPlay {
  height: 100px;
  width: 200px;
  float: right;
  display: inline-block;
}

.settingInput {
  background-color: black;
  height: 100px;
  width: 900px;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
  margin-bottom: 5px;
  margin-top: 9px;
}

.musicChoiceContainer {
  /*background: white;*/
  height: 600px;
  width: 900px;
}

.musicSettingPageContainer {
  margin-top: 5px;
  height: 500px;
}

.musicSettingContainer {
  background-color: black;
  height: 600px;
  width: 900px;
  margin: auto;
}

.settingContainer {
  margin: auto;
  height: 625px;
  width: 600px;
  border-radius: 10px;
}
.levelChangeDiv {
  cursor: url('pics/cursorPink.png'), auto !important;
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
}

.levelChangeDiv:hover , .searchTab:hover, .libraryTab:hover{
  background-image: url('pics/waves.gif');

}

.singlePlayerBox {
  cursor: url('pics/cursorPink.png'), auto !important;
  background-color: black;
  height: 450px;
  width: 400px;
  border-style: double;
  border-color: white;
  border-width: 5px;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
  display: inline-block;
  margin-left: 165px;
  border-radius: 10px;
}

.singlePlayerBox:hover {
  background-color: lightblue;
}

.multiPlayerBox {
  cursor: url('pics/cursorPink.png'), auto !important;
  background-color: black;
  height: 450px;
  width: 400px;
  display: inline-block;
  margin-left: 30px;
  border-style: double;
  border-color: white;
  border-width: 5px;
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
  border-radius: 10px;
}

.multiPlayerBox:hover {
  background-color: lightblue;
}

.levelChoiceBtn:hover {
  background-color: lightblue;
}


#profileImage {
  width: 320px;
  height: 320px;
}

#profileStats {
  font-family: Iceland;
  height: 412px;
}

.levels {
  /*background-color: lightgrey;*/
  border-radius: 4px;
  height: 60px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.scores:hover {
  background-color: #b3b3b3;
}

#profileLevelScores {
  font-size: 20px;
  text-align: left;
}

#profileTopScores {
  font-size: 30px;
  text-align: right;
}

.scores {
  text-align: right;
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 15px;
}

.modal-body {
  height: 210px;
  overflow-y: auto;
  background-color: lightgrey;
}

#modPic {
  height: 160px;
}

#lvl {
  height: 160px;
}

#lvls {
/*  font-weight: 700;*/
}

#scr {
  height: 160px;
/*  font-weight: 800;
  font-size: 20px;*/
}


.levels {
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.levels:hover {
  background-color: #b3b3b3;
}

#profileLevelScores {
  text-align: left;
}

#profileTopScores {
  text-align: right;
}

.scores {
  text-align: right;
  background-color: lightgrey;
  border-radius: 4px;
  height: 40px;
  margin-top: 5px;
  padding-top: 10px;
  padding-right: 15px;
}

.modal-body {
  height: 200px;
  overflow-y: auto;
  background-color: lightgrey;
}

#modPic {
/*  background-color: green;*/
  height: 160px;
}

#lvl {
  padding-top: 25px;
/*  background-color: blue;*/
  height: 160px;
}

#scr {
/*  background-color: red;*/
  height: 160px;
}

#profileDisplayName {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}

#profTopScore {
  font-size: 30px;
  margin-left: 480px;
  font-weight: 800;
  text-transform: uppercase;
}

#profLevelScore {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

#profileRank {
  font-size: 30px;
  font-weight: 900;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

#profileRankMarkers {
  font-weight: 900;
  font-size: 30px;
  color: blue;
}

.profileScores {
  float: right;
  margin-right: 18px;
}


#profileBtns {
  margin-left: 25%;
}

#imageHolder {
  height: 410px;
}

.profileImageUpload {
  color: white;
  margin-bottom: 10px;
}

#uploadImageBtn {
  display: inline-block;
  color: white;
}


.example-leave {

  transform: translate3d(0, 0, 0);
}

.example-leave.example-leave-active {

  transform: translate3d(-150%, 0, 0);
  transition: all ease-out 500ms;
}

.example-enter {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(80%, 0, 0);
}

.example-enter.example-enter-active {
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  transform: translate3d(13%, 0, 0);
  transition: all ease-out 600ms;

}

.canvasBorderStart {
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
  width: 400px;
  height: 625px;
}

.multiCanvasBorderStart {
  -moz-box-shadow: 0px 0 50px #fff;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0px 0px 50px #fff;
  width: 1000px;
  height: 625px;
}

/*           Jey's Styling            */

.singlePlayerGame {
  background-image: url("https://www.pexels.com/photo/sky-space-milky-way-stars-110854/");
}






