<% include head.ejs%>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Tessell8</h1>

    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-4">

            <div id ="imageHolder" class="well">

                <img id="profileImage" src="http://cutecatsinhats.com/wp-content/uploads/2016/01/lil-bub-party-hat.jpg"/>
                <% if (user.email) { %>
                <p>


                    <strong>email</strong>: <%= user.email %>
                      <div id="profileBtns">
                        <a href="/" class="btn btn-default btn-sm" style="background-color: #00cc66" >New Game</a>
                        <a href="/logout" class="btn btn-default btn-sm" style="background-color: #00cc66">Logout</a>
                      </div>
                </p>

                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>



        <div class="col-sm-8">
          <div id="profileStats" class="well">
            <div id="profileDisplayName"> <%= user.display %>
              <span id="profileRank">RANK:  </span>
              <span id="profileRankMarkers">Rockstar &#9672 &#9672 &#9672 &#9672 &#9672</span></div>
              <span id="profLevelScore">level
                <span id="profTopScore">top score</span>
              </span>

            <div id="stats1">


                 <div id="profileLevelScores" >
                  <div class="levels">
                    Super Beginner: &#9733 &#9733 &#9733 &#9733 &#9733 &#9733
                    <span class="profileScores">312323</span>
                  </div>
                  <div class="levels">
                    Beginner: &#9733 &#9733 &#9733
                    <span class="profileScores"> 212 </span>
                  </div>
                  <div class="levels">
                    Intermediate: &#9733
                    <span class="profileScores"> 766745 </span>
                  </div>
                  <div class="levels">
                    Advanced: &#9733 &#9733 &#9733
                    <span class="profileScores"> 99900 </span>
                  </div>
                  <div class="levels">
                    Rockstar: &#9733 &#9733 &#9733 &#9733 &#9733 &#9733
                    <span class="profileScores"> 240000000 </span>
                  </div>
                 </div>


<!--                 <div class="scores"> 233 </div>
                <div class="scores"> 10000 </div>
                <div class="scores"> 443222 </div>
                <div class="scores"> 32323 </div>
                <div class="scores">4200000000</div> -->

            </div>

          </div>

        </div>



<% include foot.ejs%>

