<% include head.ejs%>


    <div id="title" class="col-sm-4 col-sm-offset-4">Tessell<span class="fa fa-sign-in"></span> </div>

    <div id="content" class="col-sm-4 col-sm-offset-4" >

        <h1></span> Signup </h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->


        <form action="/signup" method="post">

            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="display" placeholder="Username">
            </div>
<!--
            <div class="profileImageUpload">
                Upload Profile Image
                <input id="uploadImageBtn" type="file" style="" name="imageurl">
            </div> -->

            <button type="submit" class="signUpBtn">Signup</button>
        </form>

        <hr>

        <div class="signUpText">Or signup with Spotify</div>

        <div class="spotify">
            <br />

            <a style="margin-left:15px" href="/auth/spotify"><img style="width:70px" src="/assets/Spotify.png" /></a>
        </div>
        <hr>
        <div class="loginFooter">
        <p>Already have an account? <a href="/login">Login</a></p> </div>
        <p>Or go <a href="/">home</a>.</p>

    </div>

<% include foot.ejs%>